/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    text-align: center;
    white-space: normal;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

.btn-primary {
    background-color: #1b6ec2;
    border-color: #1861ac;
    color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #1b6ec2;
    border-color: #1861ac;
    color: #fff;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    font-size: 14px;
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.footer {
    bottom: 0;
    line-height: 60px;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}

.center {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
}

/* No data warn screen */
.noData {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #211b19;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(4vw + 12vh + 2vmin);
    font-weight: 200;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
}

.noData_login {
    background: #fff;
    color: #211b19;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.8vw + 0.8vh + 0.3vmin);
    font-weight: 400;
    margin: auto;
    position: relative;
    text-transform: uppercase;
}

/* Mo access warn screen */
.noAccess {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #211b19;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(4vw + 10vh + 2vmin);
    font-weight: 200;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
}

.noAccess_login {
    color: #211b19;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.8vw + 1vh + 0.3vmin);
    font-weight: 100;
    margin: auto;
    position: absolute;
    text-transform: uppercase;
}

/* External Logins */

.social-button {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 38px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    outline: rgb(255, 255, 255) none 0px;
    padding-left: 20%;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#facebook-connect {
    background: rgb(255, 255, 255) url('../social-logos/facebook.svg') no-repeat scroll 5px 0px / 22.8px 38px padding-box border-box;
    border: 1px solid rgb(60, 90, 154);
}

    #facebook-connect:hover {
        text-decoration: none;
        border-color: rgb(60, 90, 154);
        background: rgb(60, 90, 154) url('../social-logos/facebook-white.svg') no-repeat scroll 5px 0px / 22.8px 38px padding-box border-box;
        -webkit-transition: all .8s ease-out;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease-out;
    }

    #facebook-connect span {
        box-sizing: border-box;
        color: rgb(60, 90, 154);
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        border: 0px none rgb(255, 255, 255);
        outline: rgb(255, 255, 255) none 0px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    #facebook-connect:hover span {
        color: #FFF;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

#google-connect {
    background: rgb(255, 255, 255) url('../social-logos/google-plus.png') no-repeat scroll 5px 0px / 38px 38px padding-box border-box;
    border: 1px solid rgb(220, 74, 61);
}

    #google-connect:hover {
        text-decoration: none;
        border-color: rgb(220, 74, 61);
        background: rgb(220, 74, 61) url('../social-logos/google-plus-white.png') no-repeat scroll 5px 0px / 38px 38px padding-box border-box;
        -webkit-transition: all .8s ease-out;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease-out;
    }

    #google-connect span {
        box-sizing: border-box;
        color: rgb(220, 74, 61);
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        border: 0px none rgb(220, 74, 61);
        outline: rgb(255, 255, 255) none 0px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    #google-connect:hover span {
        color: #FFF;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

#twitter-connect {
    background: rgb(255, 255, 255) url('../social-logos/twitter.png') no-repeat scroll 5px 1px / 33px 33px padding-box border-box;
    border: 1px solid rgb(85, 172, 238);
}

    #twitter-connect:hover {
        text-decoration: none;
        border-color: rgb(85, 172, 238);
        background: rgb(85, 172, 238) url('../social-logos/twitter-white.png') no-repeat scroll 5px 1px / 33px 33px padding-box border-box;
        -webkit-transition: all .8s ease-out;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease-out;
    }

    #twitter-connect span {
        box-sizing: border-box;
        color: rgb(85, 172, 238);
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        border: 0px none rgb(220, 74, 61);
        outline: rgb(255, 255, 255) none 0px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    #twitter-connect:hover span {
        color: #FFF;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

/* Confirm Booitstrap Dialog */
.modal-confirm {
    color: #434e65;
    width: 525px;
}

    .modal-confirm .modal-content {
        padding: 20px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
    }

    .modal-confirm .modal-header {
        border-bottom: none;
        position: relative;
        text-align: center;
        margin: -20px -20px 0;
        border-radius: 5px 5px 0 0;
        padding: 35px;
    }

    .modal-confirm h4 {
        text-align: center;
        font-size: 36px;
        margin: 10px 0;
    }

    .modal-confirm .form-control, .modal-confirm .btn {
        min-height: 40px;
        border-radius: 3px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
        transition: background-color .3s;
    }

    .modal-confirm .close {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
        text-shadow: none;
        opacity: 0.5;
    }

        .modal-confirm .close:hover {
            opacity: 0.8;
        }

    .modal-confirm .icon-box {
        color: #fff;
        width: 90px;
        height: 90px;
        display: inline-block;
        border-radius: 50%;
        z-index: 9;
        border: 5px solid #fff;
        padding: 15px;
        text-align: center;
        margin: auto;
    }

        .modal-confirm .icon-box i {
            margin: -4px 0 0 -4px;
        }

    .modal-confirm.modal-dialog {
        margin-top: 80px;
    }

    .modal-confirm .btn-modal-confirm {
        color: #fff;
        border-radius: 4px;
        background: #47c9a2;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border-radius: 2px;
        margin-top: 10px;
        padding: 6px 20px;
        border: none;
    }

        .modal-confirm .btn-modal-confirm:hover, .modal-confirm .btn-modal-confirm:focus {
            background: #328d71;
            outline: none;
        }

        .modal-confirm .btn-modal-confirm span {
            margin: 1px 3px 0;
            float: left;
        }

        .modal-confirm .btn-modal-confirm i {
            margin-left: 1px;
            font-size: 20px;
            float: right;
        }

    /* Modal red warn button */
    .modal-confirm .btn-modal-warn {
        color: #fff;
        border-radius: 4px;
        background: #e85e6c;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border-radius: 2px;
        margin-top: 10px;
        padding: 6px 20px;
        border: #e85e6c;
    }

        .modal-confirm .btn-modal-warn:hover {
            background: #a94650;
            border-color: #a94650;
        }

        .modal-confirm .btn-modal-warn:focus {
            box-shadow: 0 0 0 0.2rem rgba(169, 70, 80, 0.50);
        }

        .modal-confirm .btn-modal-warn span {
            margin: 1px 3px 0;
            float: left;
        }

        .modal-confirm .btn-modal-warn i {
            margin-left: 1px;
            font-size: 20px;
            float: right;
        }

    /* Modal yellow email button */
    .modal-confirm .btn-modal-email-send {
        color: #101820FF;
        border-radius: 4px;
        background: #FEE715FF;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border-radius: 2px;
        margin-top: 10px;
        padding: 6px 20px;
        border: 1px solid #101820FF;
    }

        .modal-confirm .btn-modal-email-send:hover {
            background-color: #b6a60e;
            border-color: #b6a60e;
        }

        .modal-confirm .btn-modal-email-send:focus {
            box-shadow: 0 0 0 0.2rem rgba(182, 166, 14, 0.5);
        }

        .modal-confirm .btn-modal-email-send span {
            margin: 1px 3px 0;
            float: left;
        }

        .modal-confirm .btn-modal-email-send i {
            margin-left: 1px;
            font-size: 20px;
            float: right;
        }

    /* Modal green confirm button */
    .modal-confirm .btn-modal-yes {
        color: #fff;
        border-radius: 4px;
        background: #28a745;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border-radius: 2px;
        margin-top: 10px;
        padding: 6px 20px;
        border-color: #28a745;
    }

        .modal-confirm .btn-modal-yes:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }

        .modal-confirm .btn-modal-yes:focus {
            box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
        }

        .modal-confirm .btn-modal-yes span {
            margin: 1px 3px 0;
            float: left;
        }

        .modal-confirm .btn-modal-yes i {
            margin-left: 1px;
            font-size: 20px;
            float: right;
        }


    /* Modal red cancel outline Button */
    .modal-confirm .btn-modal-no {
        border-radius: 4px;
        background-color: #dc3545;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border-radius: 2px;
        margin-top: 10px;
        padding: 6px 20px;
        color: #fff;
        border-color: #dc3545;
    }

        .modal-confirm .btn-modal-no:hover {
            color: #fff;
            background-color: #c82333;
            border-color: #bd2130;
        }

        .modal-confirm .btn-modal-no:focus {
            box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
        }

        .modal-confirm .btn-modal-no span {
            margin: 1px 3px 0;
            float: left;
        }

        .modal-confirm .btn-modal-no i {
            margin-left: 1px;
            font-size: 20px;
            float: right;
        }

/* Page size */
#radioBtn .notActive {
    border-color: #6c757d;
    color: #6c757d;
    background-color: #fff;
}

/* Profile image */
.image--cover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    object-position: center;
}

/* Password meter */
.pass-wrapper {
    width: 330px
}

/* Table check and uncheck button */
#uncheckButton {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 100%;
}

    #uncheckButton span {
        display: none
    }

    #uncheckButton:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00c"
    }

    #uncheckButton:hover, #uncheckButton:focus {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    #uncheckButton:focus {
        box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
    }

        #uncheckButton:hover span, #uncheckButton:focus span {
            display: none
        }

        #uncheckButton:hover:before, #uncheckButton:focus:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f05e"
        }

#checkButton {
    color: transparent;
    border-color: #545b62;
    border-style: dashed;
    border-radius: 100%;
}

    #checkButton:hover, #checkButton:focus {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }

    #checkButton:focus {
        box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
    }

        #checkButton:hover span, #checkButton:focus span {
            display: none
        }

        #checkButton:hover:before, #checkButton:focus:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f00c"
        }

/* index sort buttons */
#important_sort:hover {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}

#not_important_sort:hover {
    color: #6c757d;
    background-color: #dae0e5;
    border-color: #dae0e5;
}

#doing_sort:hover {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

#done_sort:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

/* Crop table columns */
.cropTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 451px;
    max-width: 451px;
}

.cropUser {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 151px;
}

/* Table centered content */
.table th {
    vertical-align: middle;
}

/* Table border */
tr:not(:first-child) {
    border-top: 1px solid #dee2e6;
}

/* Search field */
.zerowidth {
    width: 0px;
    padding-left: 0;
    padding-right: 0;
    border-left-width: 0;
    border-right-width: 0;
    white-space: nowrap;
    overflow: hidden;
}

#searchString {
    border-color: #6c757d;
    width: inherit;
}

#clear, #searchString {
    transition: width 0.2s ease-out;
}

.clear-button-width {
    width: 42px;
}

/* All input fields */
.material-group {
    position: relative;
}

.material-input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

    .material-input:focus {
        outline: none;
    }

.material-label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.material-input:focus ~ .material-label,
.material-input:required:valid ~ .material-label,
.material-input.input ~ .material-label,
.material-input:read-only ~ .material-label {
    top: -20px;
    font-size: 14px;
    color: #0062cc;
}

.material-input.empty ~ .material-label,
.material-input.disabled ~ .material-label {
    top: 10px;
    color: #999;
    font-size: 18px;
}

.material-bar {
    position: relative;
    display: block;
    width: 100%;
}

    .material-bar:before, .material-bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #0062cc;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .material-bar:before {
        left: 50%;
    }

    .material-bar:after {
        right: 50%;
    }

.material-input:focus ~ .material-bar:before, .material-input:focus ~ .material-bar:after {
    width: 50%;
}

/* The align drop down menu  */
.align-selector {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

select {
    border-radius: 0px;
}

/* Image Uploade drop */
.file-upload {
    width: 100%;
    margin: 0 auto;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin: 20px 0px;
    border: 4px dashed #999;
    position: relative;
    transition: border-color 0.25s;
    color: #757575;
}

    .image-dropping,
    .image-upload-wrap:hover {
        border: 4px dashed #0062cc;
        color: #0062cc;
    }

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

    .drag-text h3 {
        text-transform: uppercase;
        padding: 60px 0;
        transition: color 0.25s;
    }

.file-upload-image {
    max-height: 200px;
    max-width: 400px;
    margin: auto;
    padding: 20px 20px 5px 20px;
}

.remove-image-btn {
    width: 400px;
    margin: auto;
}

/* Create/Edit Modal */
#createModal .modal-confirm, #editModal .modal-confirm {
    width: 700px;
}

#createModal .modal-dialog, #editModal .modal-dialog {
    max-width: 700px;
}

#createModal form, #editModal form {
    margin: auto;
    max-width: 600px;
    padding: 10px
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 48px;
}

/* Detail Modal */
#detailsModal .modal-confirm {
    width: 1150px;
}

#detailsModal .modal-dialog {
    max-width: 1150px;
}

#detailsModal .jumbotron {
    margin: auto;
    max-width: 1050px;
    padding: 10px
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* Todo Bar */
.done-progress-bar {
    background-color: #28a745;
    border-right: 1.5px solid #dee2e6;
    transition: width 2s ease-in;
}

.doing-progress-bar {
    background-color: #0062cc;
    border-right: 1.5px solid #dee2e6;
    transition: width 2s ease-in;
}

.done-important-progress-bar {
    background-color: #a7288a;
    border-right: 1.5px solid #dee2e6;
    transition: width 2s ease-in;
}

.doing-important-progress-bar {
    background-color: #cc6a00;
    transition: width 2s ease-in;
}


.progress-bar-label {
    display: table-cell;
    width: 100%;
    padding: 10px 5px;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
}

.color-block {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

ol {
    margin: 0;
    display: flex;
    transition: height ease-in-out 3s;
}

/* Account modal */
#profileModal .modal-confirm {
    width: 430px;
}

#profileModal .modal-dialog {
    max-width: 430px;
}

#profileModal form {
    margin: auto;
    max-width: 330px;
    padding: 10px
}

.searchField {
    display: flex;
    width: 277px;
}

.admin {
    padding: .375rem .75rem;
    vertical-align: middle;
    display: inline-block;
}
