@model TodoWebProjekt.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}



    <form method="post" enctype="multipart/form-data" role="form" class="text-center needs-validation" style="margin: auto; max-width: 330px; width: 100%;" id="contact_form">
        <p class="h4 mb-4">Sign up</p>

        <label style="cursor:pointer">
            <img id="image_upload_preview" class="image--cover" src="~/placeholder/placeholder_upload.png" alt="Preview" />
            <input asp-for="ProfilePicture" type="file" id="Image" name="profilePicture" accept="image/*" onchange="readURL(this);" hidden>
        </label>


        <div class="form-row mt-2">

            <!--First name-->

            <div class="col material-group">
                <input asp-for="FirstName" id="FirstName" class="material-input" autocomplete="off" required>
                <div class="material-bar"></div>
                <label class="material-label">First Name</label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            



            <!--Last name-->

            <div class="col material-group">
                <input asp-for="LastName" id="LastName" class="material-input" autocomplete="off" required>
                <div class="material-bar"></div>
                <label class="material-label">Last Name</label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            


        </div>


        <!--Email-->

        <div class="mt-4 material-group">
            <input asp-for="Email" type="email" id="Email" class="material-input" autocomplete="new-email" required />
            <div class="material-bar"></div>
            <label class="material-label">E-Mail</label>
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>


        <!--Password-->

        <div class="mt-4 material-group">
            <input asp-for="Password" type="password" id="myPassword" class="material-input" autocomplete="new-password" required >
            <div class="material-bar" style="margin-bottom:5px"></div>
            <label class="material-label">Password</label>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>

        <!--Confirm Password-->

        <div class="mt-4 material-group">
            <input asp-for="ConfirmPassword" type="password" id="PasswordConfirmation" class="material-input" required autocomplete="new-user">
            <div class="material-bar"></div>
            <label class="material-label">Confirm password</label>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        <!--Admin ?-->
        <div class="custom-control custom-switch mb-3 mt-4">
            <input asp-for="Role" type="checkbox" class="custom-control-input" id="Admin">
            <label class="custom-control-label" for="Admin">Admin</label>
        </div>

        <!--Button-->

        <button class="btn btn-primary mt-4 btn-block" type="submit">Sign up</button>

    </form>

<h6 style="margin-top:0.5rem; text-align:center; vertical-align: central">or</h6>

<!--External Login-->

<form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" class="text-center" style="margin: auto; max-width: 330px; padding: 10px; width: 100%;">

    <button type="submit" class="btn social-button mb-2 btn-block" id="google-connect" name="provider" value="Google">
        <span>Login with Google</span>
    </button>

    <button type="submit" class="btn social-button mb-2 btn-block" id="facebook-connect" name="provider" value="Facebook">
        <span>Login with Facebook</span>
    </button>

    <button type="submit" class="btn social-button mb-2 btn-block" id="twitter-connect" name="provider" value="Twitter">
        <span>Login with Twitter</span>
    </button>
</form>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $('#image_upload_preview').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

    <script>
        $(document).ready(function () {

            $('#myPassword').password({
                field: '#FirstName',
                filed: '#LastName',
                minimumLength: 6,
                fieldPartialMatch: true,
                animate: true,
            });
        });
    </script>
}
