@model TodoWebProjekt.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}



<form method="post" enctype="multipart/form-data" role="form" class="text-center needs-validation" style="margin: auto; max-width: 330px; padding: 10px; width: 100%;" id="contact_form">
    <p class="h4 mb-4">Sign up</p>

    <img id="image_upload_preview" class="image--cover" src="~/placeholder/Placeholder_uploade.jpg" alt="Preview" />

    <label class="btn btn-light">
        <input asp-for="ProfilePicture" type="file" id="Image" name="profilePicture" accept="image/*" onchange="readURL(this);" hidden>
        Select Image
    </label>


    <div class="form-row mt-2">

        <!--First name-->

        <div class="input-group col">
            <div class=" input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input asp-for="FirstName" id="FirstName" class="form-control" placeholder="First name" autocomplete="off">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>


        <!--Last name-->

        <div class="input-group col">
            <div class=" input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input asp-for="LastName" id="LastName" class="form-control" placeholder="Last Name" autocomplete="off">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

    </div>


    <!--Email-->

    <div class="input-group mt-4">
        <div class=" input-group-prepend">
            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
        </div>
        <input asp-for="Email" type="email" id="Email" class="form-control" placeholder="E-mail" autocomplete="new-email" />
    </div>
    <span asp-validation-for="Email" class="text-danger"></span>

    <!--Password-->

    <div class="input-group mt-4" >
        <div class=" input-group-prepend">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
        </div>
        <input asp-for="Password" type="password" id="myPassword" class="form-control" placeholder="Password" autocomplete="new-password">
        <div class="input-group-append">
            <span class="input-group-text">
                <a href="" id="show_hide_password" style="color:#495057"><i class="fa fa-eye-slash" id="eye"></i></a>
            </span>
        </div>
    </div>
    <span asp-validation-for="Password" class="text-danger"></span>

    <!--Confirm Password-->

    <div class="input-group mt-4">
        <div class=" input-group-prepend">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
        </div>
        <input asp-for="ConfirmPassword" type="password" id="PasswordConfirmation" class="form-control" placeholder="Confirm Password" required autocomplete="new-user">
    </div>
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    <!--Admin ?-->
    <div class="custom-control custom-switch mb-3 mt-4">
        <input asp-for="Role" type="checkbox" class="custom-control-input" id="Admin">
        <label class="custom-control-label" for="Admin">Admin</label>
    </div>

    <!--Button-->

    <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>

</form>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $('#image_upload_preview').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

    <script>
        $(document).ready(function () {

            $('#myPassword').password({
                field: '#FirstName',
                filed: '#LastName',
                minimumLength: 6,
                fieldPartialMatch: true,
                animate: true,
            });

        });

        $(document).ready(function () {
            $("#show_hide_password").on('click', function (event) {
                event.preventDefault();
                if ($('#myPassword').attr("type") == "text") {
                    $('#myPassword').attr('type', 'password');
                    $('#eye').addClass("fa-eye-slash");
                    $('#eye').removeClass("fa-eye");
                } else if ($('#myPassword').attr("type") == "password") {
                    $('#myPassword').attr('type', 'text');
                    $('#eye').removeClass("fa-eye-slash");
                    $('#eye').addClass("fa-eye");
                }
            });
        });
    </script>
}
