@model TodoWebProjekt.ViewModel.FileTaskViewModel

@{
    ViewData["Title"] = "Edit";
}

<body>
    <h3>@ViewData["Title"]</h3>
    <hr />

    <form enctype="multipart/form-data" asp-controller="Todo" asp-action="Edit" method="post" role="form">
        <div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Task.TaskId" type="hidden">
            <input asp-for="Task.UserId" type="hidden">


            <div class="form-group">
                <label asp-for="Task.Title" class="col-md-auto"> Title</label>

                <div class="col-md-auto">
                    <input asp-for="Task.Title" class="form-control" required />
                    <span asp-validation-for="Task.Title" class="text-danger"></span>
                    <input asp-for="Task.Title" type="hidden">
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Task.Description" class="col-md-auto"> Description</label>

                <div class="col-md-auto">
                    <textarea asp-for="Task.Description" class="form-control" id="Description" rows="3" required></textarea>
                    <span asp-validation-for="Task.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AssignUserId" class="col-md-auto">Align somebody to your TODO</label>
                <div class="input-group col-md-auto">
                    <select class="custom-select" asp-for="AssignUserId" asp-items="@Model.ApplicationUserList">
                        <option value="null">---</option>
                    </select>
                    <input asp-for="Task.AssignUserId" type="hidden">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group col-md-auto">
                    <div style="width:50%">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="activeCheck" asp-for="Active">
                            <label class="custom-control-label" for="activeCheck"> Active</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="importantCheck" asp-for="Important">
                            <label class="custom-control-label" for="importantCheck"> Important </label>
                        </div>

                        <div class="custom-file" style="margin-right: 15px; margin-top: 33px">
                            <input asp-for="File.Image" type="file" class="custom-file-input" id="Image" name="Image">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                    </div>

                    <div class="col-md-auto" style="float:right; width: 50%">
                        @if (Model.File != null && Model.File.Image != null)
                        {
                            <input asp-for="File.TaskId" type="hidden">
                            <input asp-for="File.FileId" type="hidden">
                            <img id="image_upload_preview" style="height:auto; max-height:250px; max-width:500px; float:right;" src="data:Model.image.ContentType;base64,@Convert.ToBase64String(Model.File.Image)" alt="Preview" />
                        }
                        else
                        {
                            <img id="image_upload_preview" style="height:auto; max-height:250px; max-width:500px; float:right;" src="~/placeholder/placeholder.png" alt="Preview" />
                        }

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-success">Save</button>
                    <button class="btn btn-outline-danger" type="submit" asp-action="Index">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</body>

@section Scripts {
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $('#image_upload_preview').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }


        $(document).ready(function () {

            $('.custom-file-input').change(function () {
                readURL(this);
                const fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}